@font-face {
    font-family: 'BebasNeueBold';
    src: url('../../fonts/Bebas Neue.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../../fonts/9115.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro';
    src: url('../../fonts/8141.otf');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'Circe';
    src: url('../../fonts/Circe-Regular.eot');
    src: local('Circe'), local('Circe-Regular'),
    url('../../fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Circe-Regular.woff') format('woff'),
    url('../../fonts/Circe-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../../fonts/Circe-ExtraLight.eot');
    src: local('Circe ExtraLight'), local('Circe-ExtraLight'),
    url('../../fonts/Circe-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Circe-ExtraLight.woff') format('woff'),
    url('../../fonts/Circe-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../../fonts/Circe-Thin.eot');
    src: local('Circe Thin'), local('Circe-Thin'),
    url('../../fonts/Circe-Thin.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Circe-Thin.woff') format('woff'),
    url('../../fonts/Circe-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../../fonts/Circe-Light.eot');
    src: local('Circe Light'), local('Circe-Light'),
    url('../../fonts/Circe-Light.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Circe-Light.woff') format('woff'),
    url('../../fonts/Circe-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../../fonts/Circe-Bold.eot');
    src: local('Circe Bold'), local('Circe-Bold'),
    url('../../fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Circe-Bold.woff') format('woff'),
    url('../../fonts/Circe-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../../fonts/Circe-ExtraBold.eot');
    src: local('Circe ExtraBold'), local('Circe-ExtraBold'),
    url('../../fonts/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Circe-ExtraBold.woff') format('woff'),
    url('../../fonts/Circe-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

figure{
    margin: 0 auto !important;
}

.bg {
    background: #ffffff;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    visibility: hidden;
    overflow: hidden;
}
.wrapper_main {
    max-width: 1300px;
    margin: 0 auto;
    height: 78%;
    padding-left: 400px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
* {
    padding: 0;
    margin: 0;
}
h1 {
    color: #000000;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 36px;
    text-align: center;
}
h2 {
    color: #000000;
    font-size: 46px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 20px;
    text-align: center;
}
ul {
    margin-bottom: 0;
}
header {
    margin: 0 auto;
    position: relative;
}

.rows {
    /*max-width: 1200px;*/
    margin: 0 auto;
    background: white;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 39px -20px;
    opacity: 0.6;
    transition: 1s;
}
/* Меню */

.menu {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: 1s;
    display: block;
    height: 65px;
    z-index: 111;
}

.mobMenu {
    position: absolute;
    width: 100%;
    z-index: 6;
    display: none;
    background-color: rgba(0, 0, 0, 0);
    transition: 1s;
}

.mobMenu .logo {
    width: 100px;
    margin: 18px 20px 0 0;
}
.hamburger {
    margin: 10px -15px 10px 0 ;
    float: right;
    z-index: 699;
}

.hamburger-inner {
    background-color: #fff;
}

.hamburger-inner::before {
    background-color: #fff;
}

.hamburger-inner::after {
    background-color: #fff;
}

.modalMenu {
    display: none;
    position: fixed;
    z-index: 500px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0);
}

.burgerClose {
    width: 100%;
    z-index: 699;
    margin: 10px 0 0 0;
}

.burgerClose .hamburger {
    margin: 0;
    float: none;
    position: absolute;
    right: 0;
}

.modalMenu ul {
    margin:120px auto;
}

.modalMenu ul li{
    text-align: center;
    margin-bottom: 20px;

}

.after_mobile_photography{
    display: none;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
}
.after_mobile_tattoo{
    display: none;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
}


.modalMenu ul li a {
    text-transform: uppercase;
    font-family: Circe;
    color: white;
    text-decoration: none;
}

.modalMenu ul li a:hover {
    color: white;
    text-decoration: none;
}

.mobile_container_slider-prev{

}

.mobile_container_slider-next{
    right: 0;
}

.arrows-container-mobile-prev{
    top: 89%!important;
    left: 23%;
    padding: 25px 0 25px 20px;
    width: 26%;
}
.arrows-container-mobile-next{
    top: 89%!important;
    right: 23%;
    padding: 25px 20px 25px 0;
    width: 26%;
}

.after_mobile_photography-up{
    display: none;
    width: 30px;
    margin: 0 auto;
    margin-bottom: 10px;
    background: #e2e2e2;
    border-radius: 5px;
    padding-bottom:3px;
    text-align: center;
}
.after_mobile_tattoo-up{
    display: none;
    width: 30px;
    margin: 0 auto;
    margin-bottom: 10px;
    background: #e2e2e2;
    border-radius: 5px;
    padding-bottom:3px;
    text-align: center;
}

@media (max-width:500px){
    .menu {
        display: none;
    }

    .mobMenu {
        display: block;
        z-index: 600;
    }
}

.menu ul {
    float: right;
    margin-right: 20px;
    margin-bottom: 0;
}

.menu ul li{
    float: left;
    list-style: none;
    margin: 25px 0 30px 20px;
}

.menu ul li a {
    text-transform: uppercase;
    font-family: Circe;
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.menu ul li a:hover {
    color: black;
    text-decoration: none;
}

.logo {
    font-family: 'BebasNeueBold';
    margin: 5px 5px 0 0;
    color: white;
    font-size: 30px;
}

.mobile_photography{
    display: none;
}
.mobile_tattoo{
    display: none;
}

.photography_text h2{
    margin-top: 0;
}

@media (max-width:992px) {
    .menu ul {
        float: right;
        margin-bottom: none;
    }

    .menu ul li{
        float: left;
        list-style: none;
        margin: 12px 0 14px 20px;
    }
    .logo {
        margin: 5px 20px 0 0;
    }

    ol, ul {
        margin: 0;
    }
}
/* Header */
body{
    overflow-x: hidden;
}
.sl_slider {
    overflow: hidden;
    height: 90vh;
}
.shadow {
    position: absolute;
    top: 0;
    opacity: 0.3;
    height: 100%;
}
.sl_item {
    position: relative;
    overflow: hidden;
    text-align: center;
    outline: none;
    display: none;
    background-size: cover;
    background-position: center center;
}
.sl_item:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    opacity: .3;
}

.sl_item.slick-slide {
    height: 100%;
}
.img-nav {
    background-size: cover;
    background-position: center center;
    height: 100%;
    border-radius: 5px;
}
.sl_item img {
    width: 100%;

    margin: 0 auto;
    z-index: 4;
}

.block_line {
    position: absolute;
    top: 0;
    width: 120vw;
    height: auto;
}
.infoStyle {
    margin: 75px auto 182px auto;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: wrap;
}
.itemStyle {
    position: relative;
    margin: 10px;
    width: 330px;
    border-radius: 8px;
    height: 142px;
    overflow: hidden;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.tab-active {
    display: flex;
}

.tab {
    display: none;
}
.infoBlock {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    background-color: rgb(73, 73, 73);
    padding: 41px 0 0 41px;
    font-family: 'Circe';
    color: white;
}
.itemStyle:hover .infoBlock {
    transition: 1s;
    position: absolute;
    opacity: 1;
    background-color: rgba(73, 73, 73, 0.603);
}
.logoName {
    padding: 20px;
    pointer-events: none;
    z-index: 23;
}

.logoName p {
    color: white;
    margin-top: 15px;
    color: #ffffff;
    font-family: Circe;
    font-size: 24px;
    font-weight: 400;
}

.logoName h1 {
    color: white;
    margin-top: 15px;
    color: #ffffff;
    font-family: Circe;
    font-weight: 800;
}
/*
  @media (max-width:768px) {
    .logoName h1 {
        font-size: 70px;
    }
  }
  @media (max-width:500px) {
    .logoName h1 {
        font-size: 12vw;
    }
  }*/
.container-head {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
/* Первый слайдер */
.slider_first {
    height: 1000px;
}
.slider-for{
    width: auto;
    height: 450px;
    margin: 30px auto 1px;
    overflow: hidden;
}
img{
    max-width: 100%;
    margin: 0 auto;
}
.slider-nav{
    position: absolute;
    bottom: 200px;
    left: 15px;
    width: 300px;
}
.slider-nav .slick-list {
    height: 200px;
}
.slider-nav .prev-arrow {
    bottom: -35px;
    left: 0;
    top: auto;
    transition: opacity 300ms;
}
.slider-nav .next-arrow {
    bottom: -35px;
    right: 100px;
    top: auto;
    transform: rotateY(180deg);
    transition: opacity 300ms;
}
.slider-nav .prev-arrow:hover,
.slider-nav .next-arrow:hover {
    opacity: 0.6;
    cursor: pointer;
}
.sl_photography_for .prev-arrow,
.sl_tattoo_for .prev-arrow,
.sl_musick_for .prev-arrow {
    font-size: 60px;
    left: 0px;
}
.sl_photography_for .next-arrow,
.sl_tattoo_for .next-arrow,
.sl_musick_for .next-arrow {
    font-size: 60px;
    right: 0px;
}
.sl_photography_for .slick-list.draggable,
.sl_tattoo_for .slick-list.draggable,
.sl_musick_for .slick-list.draggable {
    padding:20px 40px 40px 40px;
    position: relative;
    height: 100%;
}
.slider_first .slider-nav .slick-list {
    padding: 0 50px 0 0!important;
}
.slider-nav .slick-track{
    height: 200px;

}

.itemFirstSliderNav img {

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.slick-arrow{
    position: absolute;
    top: 50%;
    z-index: 50;
    margin-top: -12px;
    color: #737373;
    cursor: pointer;
}
.slick-prev{
    left: 5px;
}
.slick-next{
    right: 5px;
}

.itemFirstSliderNav {
    margin: 0 10px;
    width: 400px;
    overflow: hidden;
    border-radius: 25px;
    border: none
}
.itemFirstSliderNav  {
    -webkit-box-shadow: 10px 10px 26px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 26px -11px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 26px -11px rgba(0,0,0,0.75);
}
.itemFirstSlider {
    margin: 0 auto;

}
.itemFirstSlider img{
    width: 700px;
    height: 450px;
    float: left;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.count p{
    float: left;
    font-family: 'BebasNeueBold';

}

.one {
    font-size: 120px;
    font-weight: 400;
    color: white;
    margin-right: 15px;
}


.two {
    margin-top: 26px;
    color: #dcdcdc;
    font-size: 39px;
    font-weight: 400;
}
.count {
    position: absolute;
    left: 15px;
    bottom: 390px;
}
/* футер */

footer {
    display:flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: rgb(0, 0, 0);
}

footer a {
    color: white;
    margin: 0 15px
}
.wrapper_tabs {
    max-width: 1300px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    margin: 0 auto;
    margin-bottom: 3.38%;
    margin-top: 8%;
    padding: 0 36px 0 20px;
}
.wrapper_tabs .right_column {
    width: 50%;
}
.wrapper_tabs .left_column {
    width: 50%;
    text-align: right;
}
.wrapper_tab_content {
    max-width: 1300px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    margin: 0 auto;
    margin-bottom: 100px;
    padding: 0 20px;
}
.wrapper_tab_content .itemStyle {
    width: calc((100% / 4) - 20px);
    height: 190px;
}
.wrapper_tabs p {
    /*float: left;*/
    margin-left: 10px;
    font-family: Circe;
    margin: 0 10px;
    line-height: 20px;
    font-size: 16px;
    color: rgb(160, 160, 163);
}
.wrapper_tabs h1 {
    color: #000000;
    font-family: 'BebasNeueBold';
    font-size: 58px;
    font-weight: 400;
    text-transform: uppercase;
    margin-left: 10px;
    padding-bottom: 0;
    text-align: left;
}

/*.wrapper_tabs ul {
    float: right;
}*/
.wrapper_tabs ul li {
    /*float: left;*/
    list-style: none;
    margin: 0 10px;
    display: inline-block;
    color: #7a7a7a;
}

.wrapper_tabs ul li a{
    text-decoration: none;
    font-family: Circe;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgb(122, 122, 122);
    text-transform: uppercase;
}
.wrapper_tabs ul li a:hover{
    color: black;
    text-decoration: none;
}

.all {
    display: none;
}
.tattoo {display: block;}
.wrapper_tabs ul li.active a {
    font-weight: 700;
    color: black;
}



@media (max-width:700px) {
    .wrapper_tabs .left_column {
        width: 100%;
    }
    .wrapper_tabs .right_column{
        width: 100%;
        margin: 0;
        text-align: center;
    }
    .wrapper_tabs ul li div{
        text-align: center;
    }
    .wrapper_tabs ul {
        width: 100%;
        margin: 0 auto;
    }
    .infoStyle {
        margin: 185px auto 50px auto;
    }
}

@media (max-width:465px) {

    .wrapper_tabs ul li {
        width: 50%;
        margin: 0;
    }

}

/* Конец табов */

@media (max-width:1288px) {
    .logoName {
        padding: 20px;
        margin-right: 0px;
        pointer-events: none;
    }

    .logoName p {
        color: white;
        margin-top: 15px;
        color: #ffffff;
        font-family: Circe;
        font-weight: 400;
        margin-right: 75px;
        text-align: center;
    }
}

@media (max-width: 1023px) {
    .wrapper_tab_content .itemStyle {
        width: calc((100% / 3) - 20px);
    }
    .wrapper_main {
        padding-left: 0;
    }
    header{
        position: relative;
    }

    figure{
        width: 100%;
    }
}

@media (max-width: 768px) {
    .wrapper_main {
        height: 100%;
    }
    .logoName {
        padding: 20px;
        pointer-events: none;
        margin: 0 auto;
    }
    .logoName h1 {
        padding-bottom: 0;
        font-weight: 300;
        font-size: 30px;
    }

    .logoName p {
        color: white;
        margin-top: 15px;
        color: #ffffff;
        font-family: Circe;
        font-size: 3vw;
        font-weight: 400;
    }
    .wrapper_tab_content .itemStyle {
        width: calc((100% / 2) - 20px);
    }
}

@media (min-width: 2000px) {
    .sl_slider {
        height: 70vh;
    }
}
@media (max-height: 500px) {
    .wrapper_main {
        height: 100%;
    }
}
/* Стили для активного контейнера вкладки */
.tab-content__item.active {
    display: block;
}
.photography_slide, .tattoo_slide{
    width: 100%;
}
/*.photograph, .cinema {
    padding-bottom: 23px;
}*/
.photography_section {
    margin-bottom: calc(0% - 105px);
}
.tattoo_section {
    margin-top: calc(0% - 225px);
    margin-bottom: calc(0% - 0px);

}
.musick {
    margin-bottom: calc(0% - 120px);
}
/*
.photograph, .cinema, .musick {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}*/
/*.photograph {
    margin-bottom: calc(0% - 91px);
}
.cinema {
    margin-top: calc(0% - 187px);
}
.musick {
    margin-bottom: calc(0% - 120px);
}*/
.photography_section .sl_photo,
.tattoo_section .sl_photo,
.musick .sl_photo {
    padding: 10px 10px;
}
.photography_section .sl_image,
.tattoo_section .sl_image,
.musick .sl_image {
    width: calc((100%) - 7px);
    height: 190px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;

    box-shadow: 2px 4px 7px rgb(116,116,116);
}
.photography_section .slick-slide,
.tattoo_section .slick-slide,
.musick .slick-slide{
    opacity: .7;
}
.photography_section .slick-slide.slick-current,
.tattoo_section .slick-slide.slick-current,
.musick  .slick-slide.slick-current {
    opacity: 1;
}
.wrapper {
    max-width: 1300px;
    margin : 0 auto;
    height: 510px;
}
.name_of_work .photography_name_sl,
.name_of_work .tattoo_name_sl,
.name_of_work .musick_name_sl{
    display: flex;
    flex-flow: row wrap;
    padding: 0 20px;
}
.name_of_work {
    /*padding-top: 238px;*/
}
.after_photography, .after_musick {
    background-color: #eff0f4;
}
.after_photography {
    padding-bottom: 440px;
    padding-top: 180px;
}
.after_tattoo {
    padding-top: 80px;
    padding-bottom: 140px;
}
.after_musick {
    padding-bottom: 140px;
    padding-top: 240px;
}
.work_image {
    width: calc(60% - 80px);
}
.work_image img{
    border-radius: 7px;
}
.left_content {
    width: 40%;
    margin-right: 80px;
    margin-top: 18px;
}
.left_content p{
    font-family: Circe;
    color: rgb(116, 116, 116);
    line-height: 1.875;
    font-size: 16px;
}
.left_content h2 {
    font-family: 'BebasNeueRegular';
    font-size: 60px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 0;
    text-align: left;
}




.slick-slide {
    height: auto;
}

.after_musick .slick-list {
    /*height: 100%;*/
}
.logout_button{
    cursor: pointer;
}




.next-arrow-mobile{
    transform: rotateY(180deg);
}
@media (max-width: 1440px) {
    .after_photography {
        /*padding-bottom: 310px;*/
        padding-bottom: 20%;
    }
    .after_tattoo {
        padding-bottom: 5%;
        /*padding-bottom: 20px;*/
    }
    .after_musick {
        padding-bottom: 5%;
        /*padding-bottom: 20px;*/
    }
    .wrapper {
        height: auto;
    }
}

@media (max-width: 992px){

   .mobile_photography{
       display: block;
   }
    .desktop_photography{
        display: none;
    }
    .mobile_tattoo{
        display: block;
    }
    .desktop_tattoo{
        display: none;
    }

    .logoName p{
        margin-right: 0;
    }
    .wrapper_tabs{
        padding: 0 36px 0 36px;
    }
    .wrapper_tabs p{
        width: 148px;
        margin: 0 auto;
    }
    .left_content p{
         text-align: center;
         line-height:1.5;
     }
    .after_mobile_photography{
        display: block;
        width: 30px;
        margin: 0 auto;
        margin-bottom: 10px;
        background: #e2e2e2;
        border-radius: 5px;
        padding-bottom:3px;
    }
    .after_mobile_tattoo{
        display: block;
        width: 30px;
        margin: 0 auto;
        margin-bottom: 10px;
        background: #e2e2e2;
        border-radius: 5px;
        padding-bottom:3px;
    }

    .mobile_container_slider-prev{
        width: 40px;
        height: 40px;
        bottom: 20px;
        left: 14%;
        top: 35px;
        text-align: center;
    }

    .mobile_container_slider-next{
        width: 40px;
        height: 40px;
        bottom: 20px;
        right: 14%;
        top: 35px;
        text-align: center;
    }
    .next-arrow{
        font-size: 32px!important;
    }
    .prev-arrow{
        font-size: 32px!important;
    }
    .tattoo_section{
       background: #eff0f4;
   }
    .next-arrow-mobile:active{
        opacity: 0.5;
        transition: 20ms;
    }
    .prev-arrow-mobile:active{
        opacity: 0.5;
        transition: 20ms;
    }
    .tattoo_text h2 {
        margin: 0;
        padding-top: 20px;
        padding-bottom: 15px;
        background-color: #eff0f4;
    }
    .photography_text h2 {
        margin-bottom: 100px;
    }
    .musick_text h2 {
        margin-bottom: 90px;
    }
    .tattoo_section {
        margin-top: 0;
    }

    .musick_slider, .tattoo_slide, .photography_slide  {
        display: none;
    }
    .after_photography, .after_tattoo, .after_musick {
        padding: 0;
    }
    .left_content {
        width: 100%;
        margin-right: 0;
        margin-top: -0;
    }
    .work_image {
        width: 100%;
    }
    .left_content h2 {
        text-align: center;
        font-size: 40px;
    }

}
.photography_slide {
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    transition: 2s;
}

@media (max-width: 992px){
    .tattoo_text h2 {
        font-size: 38px;
    }
    .photography_text h2 {
        font-size: 38px;
    }
    .musick_text h2 {
        font-size: 38px;
    }
    .wrapper_tabs .right_column {
        width: 100%;
        text-align: center;
    }
    .wrapper_tabs .right_column h1 {
        text-align: center;
        font-family: 'BebasNeueRegular';
        font-size: 45px;
    }
    .wrapper_tabs .left_column {
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
}
.photography_slide:hover {
    margin-left:  0;
}
.tattoo_section {
    overflow: hidden;
}
.active_user{

    background:#d9ebff;
}

.user_name{

    border-bottom: 1px solid #dedede;
}
.p_message{
    /*margin-left: 33px;*/
    /*margin-top: -10px;*/
}
.message_user_name{
    display: inline-block;
}

.avatar_mini{
    height: 30px;
    width: 30px;
    border-radius: 15px;
}
.tattoo_slide {
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
    transition: 2s;
}
.tattoo_slide:hover {
    margin-right:  0;
}

@media (max-width: 470px) {
    .best ul li {
        float: none;
        width: 100%;
        margin: 0 auto;
    }
    .best ul {
        float: none;
    }
    .infoStyle {
        margin: 0 auto;
    }
    .wrapper_tab_content .itemStyle {
        width: calc(100% - 20px);
    }
}
@media (max-width:768px)  {
    .shadow {
        position: absolute;
        top: 0;
        opacity: 0.3;
        height: 300px;
    }
    .sl_slider {
        height: auto;
    }
    .sl_item.slick-slide{
        position: relative;
        overflow: hidden;
        text-align: center;
        height: 300px;
        outline: none;
    }
    .img {
        background-size: cover;
        background-position: center center;
        height: 300px;

    }

}

.green_circle{
    display: inline-block;
    width: 8px;
    height: 8px;
    background: green;
    position: relative;
    border-radius: 15px;
    bottom: -10px;
    left: -4px;
}
.arrived_messages{
    background:#eaeaea;
}
.message_arrived{
    float: right;
    position: relative;
    right: 7px;
    top: 5px;
}
